<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>don't know what to name this</title>
    {% load static %}
    <script src="{% static 'faucet/js/main.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'faucet/css/style.css' %}">
    <link id="darkCss" rel="alternate stylesheet" type="text/css" href="{% static 'faucet/css/dark.css' %}">
    <link id="lightCss" rel="stylesheet" type="text/css" href="{% static 'faucet/css/light.css' %}">
    <link rel="stylesheet" href="{% static 'faucet/css/fontawesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'faucet/css/solid.min.css' %}">

  </head>
  <body>
    <div class="toggleButton" data-theme="light">
      <i class="fa-solid fa-moon"></i>
    </div>
    <div class="container">
      <div class="greeting">
       faucet name
      </div>
      <input type="text" placeholder="Your Ethereum address goes here." id="to_address">
      <select name="network" id="network">
        <option value="Görli">Görli</option>
        <option value="Kovan">Kovan</option>
        <option value="Rinkeby">Rinkeby</option>
        <option value="Ropsten">Ropsten</option>
        <option value="Polygon">Polygon</option>
      </select>
      <input type="button" name="give" value="Give me Ether!" onclick="sendEth()">  
    </div>
    {% csrf_token %}
  </body>
</html>