:root{
    --body-bg: #080808;
    --text-color: #ccc;
    --input-bg: #111111;
    --response-bg: #331712;
    --response-border: #c6947b;
}

body {
    background-attachment: fixed;
    background-color: var(--body-bg);
    background-image: url('../backgrounds/bgdark.png');
    background-position: top left;
    background-repeat: repeat;
    color: var(--text-color);
    transition: all ease 0.5s;
}

input, select {
    background-color: var(--input-bg);
    border-color: var(--text-color);
    border: groove;
    color: var(--text-color);
}

.response {
    background-color: var(--response-bg);
    border: 2px solid var(--response-border);
}

.responseBar{
    background-color: var(--text-color);
}

a {
    text-decoration: none;
    color: cornflowerblue;
}

.bar{
    background-color: var(--response-bg);
    border: 2px solid var(--response-border);
}

.toggleButton, .faq{
    color: var(--text-color);
}
