:root{
    --body-bg: #f7f7f7;
    --text-color: #333;
    --input-bg: #eeeeee;
    --response-bg: #cce8ed;
    --response-border: #396b84;
}

body {
    background-attachment: fixed, fixed;
    background-color: var(--body-bg);
    background-image: url('../backgrounds/bg2.png');
    background-position: top left;
    background-repeat: repeat;
    color: var(--text-color);
    transition: all ease 0.5s;
}

input, select {
    background-color: var(--input-bg);
    border-color: var(--text-color);
    border: groove;
    color: var(--text-color);
}

.response {
    background-color: var(--response-bg);
    border: 2px solid var(--response-border);
}

.responseBar{
    background-color: var(--text-color);
}

a {
    text-decoration: none;
    color: cornflowerblue;
}

.bar{
    background-color: var(--response-bg);
    border: 2px solid var(--response-border);
}

.toggleButton, .faq{
    color: var(--text-color);
}
