@font-face {
    font-family: "AnimeAce2-bold";
    src: url('../fonts/animeace2_bld.ttf') format("truetype");
}

@font-face {
    font-family: "AnimeAce2";
    src: url('../fonts/animeace2_reg.ttf') format("truetype");
}

body {
    background-attachment: fixed, fixed, fixed;
    background-color: #F7F7F7;
    background-image: url('../gif/yuri.gif'), url('../backgrounds/bg2.png');
    background-position: 50% 100%, top left;
    background-repeat: no-repeat, repeat;
    color: #333;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    height: 100%;
    line-height: 20px;
    margin: 0;
    padding-top: 20px;
    padding-bottom: 40px;
}

.container{
    margin: 60px 0;
    text-align: center;
}

.greeting{
    margin-bottom: 3%;
    font-size: xxx-large;
    font-weight: bold;
}

input, select {
    background-color: #eeeeee;
    border-color: #333;
    border: groove;
}

select {
    height: 2em;
    width: 6em;
}

input[type="button"] {
    height: 2em;
    width: 8em;
}

input[type="button"]:enabled {
    cursor: pointer;
}

input[type="text"] {
    height: 1.55em;
    width: 44ch;
}

.response {
    font-size: x-large;
    font-weight: bold;
    /*background-color: #CCE8ED;*/
    margin: 3% auto;
    width: 850px;
    padding: 15px;

    background-color: #db9190;
    border: 4px solid #d9716f;
}

.responseBar{
    background-color: #333;
    height: 5px;
    position: relative;
    top: 10px;
    border-radius: 5px;
}

a {
    text-decoration: none;
    color: cornflowerblue;
}