body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    height: 100%;
    line-height: 20px;
    margin: 0;
    padding-top: 20px;
    padding-bottom: 40px;
    padding-left: 10px;
    padding-right: 10px;
}

.container{
    margin: 60px 0;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.greeting{
    margin-bottom: 3%;
    font-size: xxx-large;
    font-weight: bold;
}

select {
    height: 2em;
    width: 6em;
}

input[type="button"] {
    height: 2em;
    width: 8em;
}

input[type="button"]:enabled {
    cursor: pointer;
}

input[type="text"] {
    height: 1.55em;
    width: 44ch;
}

.response {
    font-size: x-large;
    font-weight: bold;
    border-radius: 4px;
    margin: 3% auto;
    width: 850px;
    padding: 15px;
}

.responseBar{
    height: 5px;
    position: relative;
    top: 10px;
    border-radius: 5px;
}

a {
    text-decoration: none;
}

.toggleButton{
    width: 2ch;
    border-radius: 4px;
    text-align: center;
}

.toggleButton:hover{
    cursor: pointer;
}

#ethIcon{
    position: fixed;
    bottom: 2%;
    left: 50%;
    right: 50%;
    font-size: 5em;
}

.bar{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 50px;
}
